.header-wrapper-outer {
  width: 1000px;
  margin: 0 auto;
}

.header-upper-part__item--cart {
  margin: 0 20px;
}

.header-upper-part {
  width: 1000px;
  display: flex;
  min-height: 120px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header-upper-part__item--logo {
  margin-left: 20px;
}

.header-upper-part__wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-upper-part__item--phone-number {
  font-size: 20px;
  font-weight: 700;
  color: #7d7262;
}

.cart__link {
  text-decoration: none;
  font: 22px Roboto, sans-serif;
  color: #db5657;
  font-weight: 600;
}

.header-lower-part {
  width: 1000px;
  box-sizing: border-box;
  border-top: 1px solid rgba(81, 83, 77, 0.51);
  border-bottom: 1px solid rgba(81, 83, 77, 0.51);
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 58px;
  max-height: 500px;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  font: 20px "Lato", sans-serif;
  color: #51534c;
  font-weight: 500;
}

.navbar__link:hover {
  color: #779750;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
}

.cart__paragraph {
  color: #616161;
  font: 14px Roboto, sans-serif;
}

.navbar__link:active {
  color: #499700;
}

@media screen and (max-width: 1000px) {
  .header-wrapper-outer,
  .header-lower-part,
  .header-upper-part,
  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sandwich-button {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    border-right: 1px solid rgb(236, 236, 236);
    cursor: pointer;
  }

  .header-logo {
    position: absolute;
    top: 8px;
    left: 60px;
    height: 40px;
  }

  .header-lower-part {
    border: none;
  }

  .sandwich-button__wrapper {
    width: 18px;
    height: 18px;
    margin: 16px auto;
  }

  .sandwich-button__hor-bar {
    width: 18px;
    height: 3px;
    background-color: rgb(155, 155, 155);
    margin: 5px 0;
    transition: 0.4s;
  }

  .header-upper-part {
    min-height: 50px;
    box-shadow: 0 3px rgb(236, 236, 236);
    position: relative;
  }

  .header-upper-part,
  .header-wrapper-outer {
    width: 100%;
  }

  .header-upper-part__item--phone-number,
  .cart__label {
    display: none;
  }

  .header-upper-part__item--cart {
    position: absolute;
    top: 15px;
    right: 60px;
  }

  .header-popup-window {
    display: none;
  }

  .cart-order__wrapper {
    display: none;
  }

  .navbar {
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 100%;
    display: block;
    transition: all 0.4s ease-out;
    overflow: hidden;
    max-height: 1000px;
    height: 100%;
    top: 0;
  }

  .navbar--hidden {
    visibility: hidden;
    height: 0px;
    max-height: 0px;
  }

  .navbar__item {
    padding: 15px;
    padding-left: 25px;
    border-bottom: 1px solid rgb(236, 236, 236);
    width: calc(100%-40px);
  }
}
