.modal-login-window {
    z-index: 3;
    position: absolute;
    width: 300px;
    min-height: 400px;
    left: calc(50% - 150px);
    top: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}

.modal-login-window__wrapper {
    width: 220px;
    min-height: 320px;
    margin: 40px;
}

.modal-login-window__title {
    font: 20px 'Lato', sans-serif;
    line-height: 20px;
    color: #727272;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.modal-login-layout {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(24, 21, 21, 0.24);
    opacity:1;
    transition:visibility 0.25s linear, opacity 0.25s ease-out;
}

.modal-login-layout--hidden {
    visibility: hidden;
    opacity:0;
}

.modal-login-window__errors {
    color: #990000;
    font: 12px 'Lato', sans-serif;
    text-align: center;
    line-height: 15px;
    min-height: 15px;
    padding-top: 5px;
    font-weight: 300;
}

.login-form__button--register {
    color: white;
    background-color: rgba(34, 36, 32, 0.21);
}
