.profile-block {
  top: 0;
  background-color: white;
  width: 165px;
}

.profile-block__image {
  display: none;
}



@media screen and (max-width: 800px) {
  .profile-block {
    width: 30px;
  }

  .profile-block__image {
    position: absolute;
    cursor: pointer;
    display: block;
    margin: 0;
    top: 15px;
    right: 15px;
  }
}
