.label-block {
  display: none;
}

@media screen and (max-width: 800px) {
  .label-block {
    background-color: #ff755d;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 2.0s;
  }

  .label-block__close-btn {
    cursor: pointer;
    margin-right: 30px;
    width: 20px;
    height: 20px;
    position: relative;
  }

  .label-block__close-btn:before,
  .label-block__close-btn:after {
    position: absolute;
    content: " ";
    height: 20px;
    width: 2px;
    right: 10px;
    background-color: rgb(255, 255, 255);
  }

  .label-block__close-btn:before {
    transform: rotate(45deg);
  }

  .label-block__close-btn:after {
    transform: rotate(-45deg);
  }

  .label-block__label {
    margin-left: 30px;
    font: 19px p22_underground, sans-serif;
    color: white;
  }
}
