.auth-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.profile-block__img {
  margin-right: 5px;
}

.profile-block__link {
  cursor: pointer;
  color: #616161;
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline dotted #616161 1px;
  padding-top: 5px;
}

.profile-block__link:hover {
  color: rgba(255, 67, 54, 0.98);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .auth-list {
    z-index: 3;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    top: 0;
    display: block;
    position: absolute;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    max-height: 500px;
  }

  .auth-list--hidden {
    max-height: 0px;
    overflow: hidden;
  }

  .profile-block__link {
    margin: 5px;
    margin-left: 10px;
  }
}
