.cart-item {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid rgb(170, 169, 169);
  position: relative;
}

.cart-item__block {
  margin: 5px;
  flex-grow: 1;
  flex-basis: 0;
}

.cart-item__name {
  font: 16px "Century Gothic", sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cart-item__name:hover {
  color: #db5657;
}

.cart-item__image {
  height: 110px;
  width: 110px;
}

.cart-action {
  color: #979797;
  font-size: 12px;
  cursor: pointer;
}

.cart-action__link {
  color: #979797;
}

.cart-action__link:hover {
  color: #1e7e34;
}

@media screen and (max-width: 640px) {
  .cart-item {
    flex-direction: column;
    padding: 40px;
  }

  .cart-item__block {
    order: 2;
  }

  .cart-item__block--title {
    order: 1;
  }
}

.cart-item__loading {
  width: 100%;
  position: absolute;
  background-color: rgba(158, 158, 158, 0.315);
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.cart-item__loading--show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
