.login-form__input {
    background-color: #fffcd9;
    color: #636363;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(116, 116, 116, 0.51);
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.login-form__paragraph {
    color: rgba(0, 0, 0, 0.51);
    text-align: center;
    font: 12px 'Lato', sans-serif;
    line-height: 15px;
    height: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.login-form__button {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    margin: 0 auto 25px;
    display: block;
    border: 0;
    color: white;
    height: 40px;
    width: 180px;
    background-color: #939c3e;
    cursor: pointer;
}